/* MovieDetails.module.css */

.container {
  /*border: 1px solid #ddd;*/
  padding: 10px;
  margin: 10px;
  width: fit-content;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
 
  background-color: #e8fbff;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}
.container:hover {
  background-color: #c1e8f5; /* Adjust the lighter color on hover */
}

.linkContainer {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.linkContainer:hover {
  text-decoration: none;
}

/* Style link text explicitly */
 .linkContainer p {
  color: black;
  text-decoration: none;
} 

/* Override global link styles */
.linkContainer p:hover {
  text-decoration: none;
}

.linkContainer a:link { text-decoration: none; }
.linkContainer a:visited { text-decoration: none; }
.linkContainer a:hover { text-decoration: none; }
.linkContainer a:active { text-decoration: none; }

.posterContainer {
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 10px; /* Adjust the margin as needed */
  height: auto;
  width: 100px;
}

.posterContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px; /* Set a fixed width for consistent tile sizes */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
}
.title {
  font-size: 18px;
  font-weight: bold;
  white-space: normal; /* Allow text to wrap to the next line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrollArrowLeft,
.scrollArrowRight {
  cursor: pointer;
  font-size: 0; /* Hide text content */
}

.scrollArrowLeft::before,
.scrollArrowRight::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  margin: 0 5px; 

}

.scrollArrowLeft::before {
  border-width: 5px 8px 5px 0;
  border-color: transparent #333 transparent transparent; /* Adjust the color as needed */
}

.scrollArrowRight::before {
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #333; /* Adjust the color as needed */
}

.arrowContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  height:50px; 
  width: 1%; 
  justify-content: center; 

}


.moviesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  scroll-behavior: smooth;
   /* overflow-x: hidden;Hide the horizontal scrollbar */
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar */

}
.moviesContainer::-webkit-scrollbar {
  display: none;
}